
config TOUCHSCREEN_CHIPONE
	tristate "Chipone touchscreen"
	help
	  This enables support for Chipone touchscreens.
	  

config TOUCHSCREEN_ICN83XX
	tristate "Chipone touchscreen icn83xx"
	help
	  This enables support for Chipone touchscreens.	  
